@charset "utf-8";
/* CSS Document */

#img {
	
}
*
{
	margin:0;
	padding:0;
}
#register-form
{
	margin-top:70px;

	
}
table
{
	border:solid #dcdcdc 1px;
	padding:25px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
	padding:15px;
	//border:solid #e1e1e1 1px;
}
table tr td input
{   
	width:97%;
	height:45px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
	width:100%;
	height:45px;
	border:0px;
	background:rgba(12,45,78,11);
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	text-transform:uppercase;
}
table tr td button:active
{
	position:relative;
	top:1px;
}
table tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}

/* preincluded from login_reg's file css for home page  */

*
{
	margin:0;
	padding:0;
}
#header
{
	width:100%;
	height:60px;
	background:rgba(00,11,22,33);
	color:#9fa8b0;
	font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
	float:left;
	position:relative;
}
#header #left label
{
	position:relative;
	top:5px;
	left:100px;
	font-size:35px;
}
#header #right
{
	float:right;
	position:relative;
}
#header #right #content
{
	position:relative;
	top:20px;
	right:100px;
	color:#fff;
}
#header #right #content a
{
	color:#00a2d1;
}


#body
{
	text-align:center;
	margin-top:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
}

/* preincluded from login_reg's file css for home page */

li {
	display:inline-block; font-size:25px; border:solid grey 2px; border-radius:2; color:purple; margin:0px; padding:0px; font-family:Verdana, Geneva, sans-serif; border-radius:5px; margin:0px; padding:0px;
}

#website_tag_paragraph {
	font-size:25px; margin:0px; padding:0px; position:absolute; left:100px; }
#website_tag_icon {
	background-image:url(icon.jpg); height:40px; width:40px; position:absolute; left:50px; 
}
#para_before_sign_in_button_on_registration {
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
#para_before_button_register_login_form{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}