li {
	display:inline-block; font-size:25px; border:solid grey 2px; border-radius:2; color:purple; margin:0px; padding:0px;
}

#website_tag_paragraph {
	font-size:25px; margin:0px; padding:0px; position:absolute; left:100px; }
#website_tag_icon {
	background-image:url(icon.jpg); height:40px; width:40px; position:absolute; left:50px; 
}